#root {
  width: 100%;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  padding-top: 120px;
  /* Space for floating header */
  flex: 1;
}
